---
layout: base.njk
---
<main class="vertical-space-between" style="margin: 0 auto; max-width: 70ch; padding: 2rem; background-color: #fff; display: flow-root;">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</main>
